* { margin: 0; }

#background {
  position: fixed;
  background: url(images/background.png) no-repeat center center fixed;
  background-size: cover;
  z-index: -1;
}

#background, header, img, article { width: 100%; }

header {
  height: 56px;

  box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.2);
}

header.main {
  position: fixed;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.8);
}

header.secondary {
  background-color: rgba(45, 61, 84, 0.8);
}

nav, section {
  max-width: 800px;
  padding-left: 8px;
  padding-right: 8px;
  margin-left: auto;
  margin-right: auto;
}

nav {
  height: 56px;
  overflow-y: hidden;
  white-space: nowrap;
}

div.credits {
  float: right;
  overflow: hidden;
}

span { line-height: 56px; }

section {
  padding-top: 70px;
  opacity: 0;
}

img, article {
  margin-bottom: 14px;
  display: table;
}

article { background-color: rgba(45, 61, 84, 0.8); }

div.navpadding { height: 56px; }

div.text, div.title {
  padding-left: 20px;
  padding-right: 20px;
}

div.title {
  padding-top: 20px;
  padding-bottom: 5px;
}

div.text {
  padding-top: 5px;
  padding-bottom: 20px;
}

p.text, a {
  font-family: "Roboto", sans-serif;
  font-size: large;
}

a { text-decoration: none; }

a.main-current, a.main, a.secondary-current, a.secondary {
  padding-left: 4px;
  padding-right: 10px;
}

a.main-current, a:hover.main, a:hover.credits { color: black; }

a.main, a.credits { color: rgba(45, 61, 84, 0.7); }

a.secondary-current, a:hover.secondary { color: white; }

a.secondary { color: rgba(230, 230, 230, 0.7) }

a.credits {
  padding-left: 30px;
  padding-right: 4px;
}

p { color: white; }

p.title {
  font-family: 'Roboto Slab', serif;
  font-size: 250%;
}

p.text {
  text-align: justify;
  text-justify: inter-word;
}
