html {
  height: 100%;
  min-height: 100%;
}

body {
  background-image:url('image/background.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100%;
}

section.biography {
  width: 768px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 100px;
}

p.title {
  font-family: 'Roboto Slab', serif;
  font-size: 350%;
  color: white;
  padding-bottom: 20px;
}

p.text {
  font-family: 'Roboto', sans-serif;
  font-size: 140%;
  color: white;
  text-align: justify;
  text-justify: inter-word;
  padding-bottom: 20px;
}

section.credits {
  vertical-align: bottom;
  width: 768px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
}

p.credits {
  font-family: 'Roboto', sans-serif;
  font-size: 80%;
  color: white;
}

* { margin: 0;
}
