* { margin: 0;
}

html, body, div.nav {
  height: 100%;
  min-height: 100%
}

body {
  background-image: url("user-images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: "Roboto", sans-serif;
}

nav {
  background-color: white;
  height: 56px;
}

nav, div.space, div.image, div.content {
  width: 100%;
}

nav, div.content {
  opacity: 0.8;
}

section, div.nav {
  padding-left: 28px;
  padding-right: 28px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

div.credits {
  float: right;
}

span {
  line-height: 56px;
  display: inline-block;
  vertical-align: middle;
}

div.space {
  height: 28px;
}

div.image {
  height: auto;
}

div.content {
  background-color: #2D3D54;
  height: auto;
}

div.title, div.text {
  padding-left: 20px;
  padding-right: 20px;
}

div.title {
  padding-top: 20px;
  padding-bottom: 5px;
}

div.text {
  padding-top: 5px;
  padding-bottom: 20px;
}

img.image {
  max-height: 100%;
  max-width: 100%;
}

a.nav, a.credits, a.nav-current {
  font-size: large;
  text-decoration: none;
}

a.nav, a.credits {
  color: grey;
}

a.nav, a.nav-current {
  padding-right: 20px;
}

a:hover.nav, a:hover.credits, a.nav-current {
  color: black;
}

p.title, p.text {
  color: white;
}

p.title {
  font-size: 300%;
}

p.text {
  font-size: large;
  text-align: justify;
  text-justify: inter-word;
}
