/* ---------------------- */
/* ---- General  CSS ---- */
/* ---------------------- */

* { margin: 0;
}

html {
  height: 100%;
  background-size: cover;
}

#background {
  background: url(user-images/background.png) no-repeat center center fixed;
  width: 100%;
  position: fixed;
  z-index: -1;
}

/* ---------------------- */
/* -- The  nav section -- */
/* ---------------------- */

nav {
  background-color: white;
  opacity: 0.8;
  width: 100%;
  height: 56px;
}

div.nav {
  padding-left: 10px;
  padding-right: 10px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  max-height: 100%;
  min-height: 100%;
}

div.credits {
  float: right;
}

span.nav {
  line-height: 56px;
  display: inline-block;
  vertical-align: middle;
}

@media screen and (max-width: 400px) {
    div.credits {
        display: none;
    }
}

/* ---------------------- */
/* -- The body section -- */
/* ---------------------- */

section {
  padding-left: 10px;
  padding-right: 10px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

div.space {
  height: 10px;
  width: 100%;
}

div.image {
  width: 100%;
  height: auto;
}

div.content {
  background-color: #2D3D54;
  opacity: 0.8;
  width: 100%;
  height: auto;
}

div.title {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 5px;
}

div.text {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-top: 5px;
}

img.image {
  max-height: 100%;
  max-width: 100%;
}

/* ---------------------- */
/* ----- Text  Types ---- */
/* ---------------------- */

/* 1. Header links */

a.nav-current {
  padding-right: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: large;
  color: black;
  text-decoration: none;
}

a.nav {
  padding-right: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: large;
  color: grey;
  text-decoration: none;
}

a:hover.nav {
  color: black;
}

a.credits {
  font-family: 'Roboto', sans-serif;
  font-size: large;
  color: grey;
  text-decoration: none;
}

a:hover.credits {
  color: black;
}

/* 2. Other text */

p.title {
  font-family: 'Roboto Slab', serif;
  font-size: 300%;
  color: white;
}

p.text {
  font-family: 'Roboto', sans-serif;
  font-size: large;
  color: white;
  text-align: justify;
  text-justify: inter-word;
}
