* { margin: 0; }

body { background-color: #C3E5D4; }

header, img, article { width: 100%; }

header, nav, div.navpadding { height: 56px; }

header.main {
  position: fixed;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.8);
}

header.secondary, header.secondaryfade { background-color: #185057; }

header.secondaryfade {
  opacity: 0;
  animation: opacitynav 0.8s forwards;
  -webkit-animation: opacitynav 0.8s forwards;
}

nav, section {
  max-width: 800px;
  padding-left: 8px;
  padding-right: 8px;
  margin-left: auto;
  margin-right: auto;
}

nav { overflow-y: hidden; }

section {
  padding-top: 50px;
  opacity: 0;
  animation: fadein 0.3s forwards;
  -webkit-animation: fadein 0.3s forwards;
}
ul {
  height: inherit;
}

ul li {
  line-height: 56px;
  padding-left: 4px;
  padding-right: 10px;
  display: inline-block;
  list-style-type: none;
}

li.credits {
  float: right;
  overflow: hidden;
  padding-left: 30px;
  padding-right: 4px;
}

div.left, div.right { max-width: 50% }

div.left { float: left; }
div.right { float: right; }

div.paddingright { padding-right: 8px; }
div.paddingleft { padding-left: 8px; }

img, article {
  margin-bottom: 14px;
  display: table;
}

article { background-color: #49C1A1; }

div.text, div.title {
  padding-left: 20px;
  padding-right: 20px;
}

div.title {
  padding-top: 20px;
  padding-bottom: 5px;
}

div.text {
  padding-top: 5px;
  padding-bottom: 20px;
}

p.title, .site-title {
  font-family: 'Roboto Slab', serif;
  font-size: 230%;
}

a, p.text {
  font-family: "Roboto", sans-serif;
  font-size: large;
}

a { text-decoration: none; }

p.text { text-align: justify; }

a.main-current, a:hover.main, a:hover.credits { color: black; border-bottom: 1px solid #447276; }
a.main, a.credits { color: #185057; opacity: 0.8; font-weight: bold; }

a.secondary-current, a:hover.secondary, p { color: white; }
a.secondary { color: #BCC6CC; }

@keyframes fadein {
  from { opacity: 0; padding-top: 50px; }
  to { opacity: 1; padding-top: 14px; }
}

@-webkit-keyframes fadein {
  from { opacity: 0; padding-top: 50px; }
  to { opacity: 1; padding-top: 14px; }
}

@keyframes opacitynav {
  from { opacity: 0; }
  to { opacity: 1; }
}

@-webkit-keyframes opacitynav {
  from { opacity: 0; }
  to {opacity: 1; }
}

@media (max-width: 700px) {
  div.right, div.left {
    max-width: none;
    float: none;
  }

  div.paddingright { padding-right: 0px; }
  div.paddingleft { padding-left: 0px; }

  article, img { 
      width: 92%;
      margin: 5px auto;
  }

  img { max-height: 280px; }
  /* Mobile Navigation */ 

  .fa { font-size: 1.5em; }
  span { width: 20%; float: left; text-align: center; right: 0; top: 15px }

  .site-title { width: 80%; text-align: left; position: absolute; padding-left: 22px; top: 5px; font-size: 200%; }
  .nav-click { width: 20%; position: absolute; z-index: 10; padding-right: 22px;}
  .site-title, .nav-click { color: #49C1A1; }

  nav { display: none; width: 100%; height: 200px; position: absolute; background: #fff; }
  ul { padding: 12px; width: 100%;} 
  ul li { width: 80%; display: block; }
  li.credits { display: none; }
}

@media (max-width: 400px) { 
  nav { white-space: nowrap; }
}
