* { margin: 0; }

body { background-color: #C3E5D4; }

header, img, article { width: 100%; }

header, nav, div.navpadding { height: 56px; }

header.main {
  position: fixed;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.8);
}

header.secondary, header.secondaryfade { background-color: #185057; }

header.secondaryfade {
  opacity: 0;
  animation: opacitynav 0.8s forwards;
  -webkit-animation: opacitynav 0.8s forwards;
}

nav, section {
  max-width: 800px;
  padding-left: 8px;
  padding-right: 8px;
  margin-left: auto;
  margin-right: auto;
}

nav { overflow-y: hidden; }

section {
  padding-top: 50px;
  opacity: 0;
  animation: fadein 0.3s forwards;
  -webkit-animation: fadein 0.3s forwards;
}

span {
  line-height: 56px;
  padding-left: 4px;
  padding-right: 10px;
}

span.credits {
  float: right;
  overflow: hidden;
  padding-left: 30px;
  padding-right: 4px;
}

div.left, div.right { max-width: 50% }

div.left { float: left; }
div.right { float: right; }

div.paddingright { padding-right: 8px; }
div.paddingleft { padding-left: 8px; }

img, article {
  margin-bottom: 14px;
  display: table;
}

article { background-color: #49C1A1; }

div.text, div.title {
  padding-left: 20px;
  padding-right: 20px;
}

div.title {
  padding-top: 20px;
  padding-bottom: 5px;
}

div.text {
  padding-top: 5px;
  padding-bottom: 20px;
}

p.title {
  font-family: 'Roboto Slab', serif;
  font-size: 250%;
}

a, p.text {
  font-family: "Roboto", sans-serif;
  font-size: large;
}

a { text-decoration: none; }

p.text { text-align: justify; }

a.main-current, a:hover.main, a:hover.credits { color: black; }
a.main, a.credits { color: #185057; opacity: 0.8; }

a.secondary-current, a:hover.secondary, p { color: white; }
a.secondary { color: #BCC6CC; }

@keyframes fadein {
  from { opacity: 0; padding-top: 50px; }
  to { opacity: 1; padding-top: 14px; }
}

@-webkit-keyframes fadein {
  from { opacity: 0; padding-top: 50px; }
  to { opacity: 1; padding-top: 14px; }
}

@keyframes opacitynav {
  from { opacity: 0; }
  to { opacity: 1; }
}

@-webkit-keyframes opacitynav {
  from { opacity: 0; }
  to {opacity: 1; }
}

@media (max-width: 700px) {
  div.right, div.left {
    max-width: none;
    float: none;
  }

  div.paddingright { padding-right: 0px; }
  div.paddingleft { padding-left: 0px; }
}

@media (max-width: 400px) { nav { white-space: nowrap; } }
