* { margin: 0; }

#background {
  position: fixed;
  background: url(../image/background/background.png) no-repeat center center fixed;
  background-size: cover;
  z-index: -1;
}

#background, header, img, article { width: 100%; }

header, nav, div.navpadding { height: 56px; }

header.main {
  position: fixed;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.8);
}

header.secondary, header.secondaryfade { background-color: rgba(45, 61, 84, 0.8); }

header.secondaryfade {
  opacity: 0;
  animation: opacitynav 0.8s forwards;
  -webkit-animation: opacitynav 0.8s forwards;
}

nav, section {
  max-width: 800px;
  padding-left: 8px;
  padding-right: 8px;
  margin-left: auto;
  margin-right: auto;
}

nav {
  overflow-y: hidden;
  white-space: nowrap;
}

section {
  padding-top: 50px;
  opacity: 0;
  animation: fadein 0.3s forwards;
  -webkit-animation: fadein 0.3s forwards;
}

span {
  line-height: 56px;
  padding-left: 4px;
  padding-right: 10px;
}

span.credits {
  float: right;
  overflow: hidden;
  padding-left: 30px;
  padding-right: 4px;
}

div.left, div.right { max-width: 392px; }

div.left {
  padding-right: 8px;
  float: left;
}

div.right {
  padding-left: 8px;
  float: right;
}

/* --- Page elements --- */

img, article {
  margin-bottom: 14px;
  display: table;
}

article { background-color: rgba(45, 61, 84, 0.8); }

div.text, div.title {
  padding-left: 20px;
  padding-right: 20px;
}

div.title {
  padding-top: 20px;
  padding-bottom: 5px;
}

div.text {
  padding-top: 5px;
  padding-bottom: 20px;
}

/* --- Text and links --- */

a, p.text {
  font-family: "Roboto", sans-serif;
  font-size: large;
}

p.title {
  font-family: 'Roboto Slab', serif;
  font-size: 250%;
}

a { text-decoration: none; }

a.main-current, a:hover.main, a:hover.credits { color: black; }
a.main, a.credits { color: rgba(45, 61, 84, 0.7); }

a.secondary-current, a:hover.secondary, p { color: white; }
a.secondary { color: rgba(230, 230, 230, 0.7) }

p.text { text-align: justify; }

/* --- Animations --- */

@keyframes fadein {
  from { opacity: 0; padding-top: 50px; }
  to { opacity: 1; padding-top: 14px; }
}

@-webkit-keyframes fadein {
  from { opacity: 0; padding-top: 50px; }
  to { opacity: 1; padding-top: 14px; }
}

@keyframes opacitynav {
  from { opacity: 0; }
  to { opacity: 1; }
}

@-webkit-keyframes opacitynav {
  from { opacity: 0; }
  to {opacity: 1; }
}

@media screen and (max-width: 820px) {
    div.right, div.left {
        max-width: none;
        padding-left: 0px;
        float: none;
    }

    div.right { padding-left: 0px; }
    div.left { padding-right: 0px; }
}
